<div class="user-full-wrapper">


    {% if content.user_picture | render %}
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h5 class="panel-title"> <span class="glyphicon glyphicon-user"></span> {{ content.field_name.0 }} </h5>
            </div>
            <div class="panel-body">
                <div class="col-md-3" style="
    padding-left: 0;
">
                    <img width="200" height="200" style="margin: auto" class="img-thumbnail img-circle" src={{ user_pic }}>
                </div>
                {{ content.field_bio }}
            </div>
        </div>
    {% endif %}

</div>